body {
    width: 100vw;
    height: 300%;
    background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 0.5; */
   
}
.wrapper {
    width: 60%;
    margin: 100px auto;
    /* box-shadow: 8px 8px 12px rgb(243, 241, 241); */
    padding: 50px 20px;
    text-align: center;
    background: rgba(39, 39, 39, 0.6);
}
h2 {
    margin-left: 45%;
    font-weight: 900;
}
.input {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.input-field {
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    /* box-shadow: 8px 2px 4px cadetblue; */
    font-size: 16px;
    font-weight: 500;
    width: 80%;
    margin: auto;
    outline: none important;
}
.w-100 {
    width: 100%;
}
#input-number {
    width: 50%;
    font-size: 20px;
}
button {
    padding: 8px 12px;
    border-radius: 6px;
    background-color: cadetblue;
    color: white;
    margin: auto 12px;
    border: none;
    font-weight: 500;
    font-size: 16px;

}
button:hover {
    /* box-shadow: 8px 2px 4px cadetblue; */
    cursor: pointer;
}
#result-box {
    font-size: 24px;
    font-weight: 600;
    color: white;
    position: relative;
    top: 30px;
}

